<!DOCTYPE html>
<html ng-app="game" ng-cloak>
    <head>
        <title>The Game</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="./style.css"/>
    </head>
    <body>
        <div id="eventos" ng-controller="eventLog">
            <h1>Eventos</h1>
            <hr />
            <div id="eventLog">
                <ul>
                    <li ng-repeat="event in log.dayEvents" ng-class="event.type">
                        {{event.message}}
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu-panel" ng-controller="gameStatus">
            <ul>
                <li ng-click="openBrigadeModal()">Brigada</li>
                <li ng-click="openBasesModal()">Bases</li>
                <li ng-click="openShopModal()">Tienda</li>
                <li>Acontecimientos</li>
                <li ng-click="openArenaModal()">Arena</li>
                <li class="next-day" ng-click="globalActions.endDay()">Terminar día</li>
            </ul>
            <div class="genStat">
                <hr/>
                <h2>Dinero: {{gameStatus.getMoney().toFixed(0)}}</h2>
                <h2>Comida: {{gameStatus.getFood().toFixed(0)}}</h2>
            </div>
            
        </div>
        <div id="status" ng-controller="gameStatus">
            <h3>Información de la partida</h3>
            <ul>
                <li>Días transcurridos: {{gameStatus.getDays()}}</li>
                <li>Miembros de la brigada: {{brigade.getBrigade().length}}</li>
                <li>Miembros en misión: </li>
                <li>Miembros descansando: </li>
            </ul>
            
        </div>

	    <script src="./libs/jquery-1.12.4.js"></script>
        <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="./libs/angular.min.js"></script>
        <script src="./libs/bootstrap-ui.js"></script>
        <script src="./utilities/scout_generator.js"></script>
        <script src="./script.js"></script>
        <script src="./services/globalActions.js"></script>
        <script src="./services/gameStatus.js"></script>
        <script src="./services/brigade.js"></script>
        <script src="./services/logger.js"></script>
        <script src="./services/shop.js"></script>
        <script src="./services/bases.js"></script>
        <script src="./services/arena.js"></script>
        <script src="./utilities/bases_filter.js"></script>
        <script src="./utilities/improv_filter.js"></script>
    </body>
</html>
