<div class="modal-header">
    <h3 class="modal-title">Bases</h3>
</div>
<div class="modal-body">
	<div class="alert alert-danger">
		Los beneficios de las bases se dan diariamente.
	</div>
	<uib-tabset active="active">
	    <uib-tab index="1" heading="Bases">
	    	<table class="table" class="margin-tabs">
	    		<thead>
	    			<tr>
	    				<th>Base</th>
	    				<th>Capacidad</th>
	    				<th>Número de mejoras</th>
	    				<th>Frecuencia de conflictos</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="base in bases.getYourBases()">
	    				<td>{{base.name}}</td>
	    				<td>{{brigade.getAlocatedMembers(base.index).length}} / {{base.capacity}}</td>
	    				<td>{{base.improvements}}</td>
	    				<td><div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{base.conflict}}" aria-valuemin="0" aria-valuemax="50" style="width: {{base.conflict*2}}%;">{{base.conflict}}%</div></div></td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </uib-tab>
	    <uib-tab index="2" heading="Manejo de personal">
	    	<uib-tabset active="activePill" vertical="true" type="pills" class="margin-tabs">
			    			<h3>Bases</h3>
						    <uib-tab ng-repeat="base in bases.getYourBases()" index="$index" heading="{{base.name}}">
						    	<div class="container">
						    		<div class="row">
								    	<div class="col-xs-4">
									    	<h3>Disponibles : {{base.index}}</h3>
										    <div class="list-group">
												  <a href="#" class="list-group-item" ng-repeat="member in brigade.getUnoccupiedMembers()"><span class="badge" ng-click="brigade.changeHome(member, base.index)">+</span>{{member.name}}<ins></ins></a>
											</div>
										</div>
										<div class="col-xs-4">
											<h3>Ocupantes</h3>
										    <div class="list-group">
												  <a href="#" class="list-group-item" ng-repeat="member in brigade.getAlocatedMembers(base.index)"><span class="badge" ng-click="brigade.changeHome(member, -1)">x</span>{{member.name}}<ins></ins></a>
											</div>
										</div>
									</div>
								</div>
						    </uib-tab>
			</uib-tabset>
	    </uib-tab>
	    <uib-tab index="3" heading="Mejoras">
	    	
	    </uib-tab>
  	</uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn brigade-close" type="button" ng-click="dissmiss()">Close</button>
</div>
