<div class="modal-header">
    <h3 class="modal-title">Tienda</h3>
</div>
<div class="modal-body">
	<div class="alert alert-danger">
		Los scouts de la tienda rotan cada día
	</div>
	<button style="margin-bottom:1em;" class="btn btn-warning pull-right" ng-click="buyGold()" ng-disabled="!gameStatus.getMoneyOffer() || gameStatus.getFood() < gameStatus.getMoneyOffer()">Cambiar {{gameStatus.getMoneyOffer().toFixed(0)}} de comida por 1 de dinero</button>
	<uib-tabset active="active">
	    <uib-tab index="1" heading="Exploradores">
	    	<table class="table">
	    		<thead>
	    			<tr>
	    				<th>Nombre</th>
	    				<th>Edad</th>
	    				<th>Supervivencia</th>
	    				<th>Suerte</th>
	    				<th>Carácter</th>
	    				<th>Precio</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="scout in scouts">
	    				<td>{{scout.name}}</td>
	    				<td>{{scout.age}}</td>
	    				<td><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="{{(scout.survival*100).toFixed(0)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(scout.survival*100).toFixed(0)}}%;"></div></div></td>
	    				<td><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{(scout.search*100).toFixed(0)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(scout.search*100).toFixed(0)}}%;"></div></div></td>
	    				<td>
					    	<div class="progress">
					    		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{(scout.mood*100).toFixed(0)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(scout.mood*100).toFixed(0)}}%;"></div>
					    	</div>
					    </td>
	    				<td>{{scout.price.toFixed(0)}}</td>
	    				<td><button class="btn btn-primary" ng-disabled="gameStatus.getFood() <= scout.price" ng-click="shop.buyScout(scout)">Comprar</button></td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </uib-tab>
	    <uib-tab index="2" heading="Bases">
	    	<table class="table">
	    		<thead>
	    			<tr>
	    				<th>Base</th>
	    				<th>Capacidad</th>
	    				<th>Número de mejoras</th>
	    				<th>Frecuencia de conflictos</th>
	    				<th>Precio</th>
	    				<th>Acciones</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="base in shop.getAvailableBases()">
	    				<td>{{base.name}}</td>
	    				<td>{{base.capacity}}</td>
	    				<td>{{base.improvements}}</td>
	    				<td><div class="progress"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{base.conflict}}" aria-valuemin="0" aria-valuemax="50" style="width: {{base.conflict*2}}%;">{{base.conflict}}%</div></div></td>
	    				<td>{{base.price}}</td>
	    				<td><button class="btn btn-warning" ng-disabled="gameStatus.getMoney() < base.price" ng-click="shop.buyBase(base)">Comprar</button></td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </uib-tab>
	    <uib-tab index="3" heading="Mejoras de base">
	    	<table class="table">
	    		<thead>
	    			<tr>
	    				<th>Base</th>
	    				<th>Tipo de mejora</th>
	    				<th>Cantidad de mejora</th>
	    				<th>Acciones</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="improve in shop.getAvailableImprovements()">
	    				<td>{{improve.for | base}}</td>
	    				<td>{{improve.improvement.type | improvement}}</td>
	    				<td>{{improve.improvement.qty}}</td>
	    				<td><button class="btn btn-warning" ng-disabled="gameStatus.getFood() < improve.price || bases.getBases()[improve.for]" ng-click="">Comprar mejora</button></td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </uib-tab>
  	</uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn brigade-close" type="button" ng-click="dissmiss()">Close</button>
</div>
